<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<title>Real Time Rescue</title>
<body class="bg-light">
<div class="container">
    <div class="row">
        <h1>
            Help me!!!!!
        </h1>
    </div>
    <div class="row">
        <p>Describe your problem</p>
    </div>
    <div class="row">
        <form method="post" action="/create" style="width:100%">
            <label>Title</label><br>
            <input type="text" name="title" class="form-control" required><br>
            <label>Description</label><br>
            <textarea name="description" class="form-control" required></textarea><br>
            <label>Language</label><br>
            <select name="language" class="custom-select d-block w-100">
                <option value="jp">日本語</option>
                <option value="en">English</option>
            </select><br>
            <input class="btn btn-primary btn-lg btn-block" type="submit" name="register" value="Help">
            <input id="latitude" type="hidden" name="latitude">
            <input id="longitude" type="hidden" name="longitude">
        </form>
    </div>
</div>
<script>
$(function(){
test();
function test() {
    navigator.geolocation.getCurrentPosition(test2);
}

function test2(position) {
    $("#latitude").val(position.coords.latitude)
    $("#longitude").val(position.coords.longitude);
}});

</script>
</body>
</html>
