<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>Real Time Rescue</title>
<body class="bg-light">
<div class="container">
    <div class="row">
        <h1>
            Help me!!!!!
        </h1>
    </div>
    <div class="row">
        <p>Describe your problem</p>
    </div>
    <div class="row">
        <form method="post" action="/create">
            <label>Title</label><br>
            <input type="text" name="title" class="form-control"><br>
            <label>Description</label><br>
            <textarea name="description" class="form-control"></textarea><br>
            <label>Language</label><br>
            <select name="language">
                <option value="jp">日本語</option>
                <option value="en">English</option>
            </select><br>
            <input class="btn btn-primary btn-lg btn-block" type="submit" name="register" value="Help">
        </form>
    </div>
</div>
</body>
</html>
