<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<table>
    <tr>
        <th>latitude</th>
        <th>longitude</th>
    </tr>
    <tr th:each="rescue:${rescues}">
        <td th:text="${rescue.latitude}"></td>
        <td th:text="${rescue.longitude}"></td>
    </tr>
</table>
<form method="get">
    <input id="latitude" type="hidden" name="latitude">
    <input id="longitude" type="hidden" name="longitude">
</form>
<script>
$(function(){
setTimeout(test,3000);

function test() {
    navigator.geolocation.getCurrentPosition(test2);
}
function test2(position) {
    window.location.href = "/listpage/" + position.coords.latitude + "/" + position.coords.longitude;
}});
</script>
</body>
</html>