<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<title>Real Time Rescue List</title>
<body class="bg-light">
<div class="container">
    <div class="row">
        <h1>
            Help List
        </h1>
    </div>
    <div class="row">
        <table class="table table-bordered table-striped table table-hover">
            <thead>
            <tr>
                <th>title</th>
                <th>description</th>
            </tr>
            </thead>
            <tbody th:remove="all-but-first">
            <tr th:each="rescue: ${rescues}">
                <td><a href="/viewrescue/id" th:text="${rescue.title}"
                       th:href="@{'/viewrescue/' + ${rescue.id}}">テスト</a></td>
                <td><a href="/viewrescue/id" th:text="${rescue.description}" th:href="@{'/viewrescue/' + ${rescue.id}}">あいうえおかきくけこさしすせそ</a>
                </td>
            </tr>
            <tr>
                <td><a href="/viewrequest/id">テスト</a></td>
                <td><a href="/viewrequest/id">あいうえおかきくけこさしすせそ</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
$(function(){
setTimeout(getPosition,3000);

function getPosition() {
    navigator.geolocation.getCurrentPosition(updatePage);
}
function updatePage(position) {
    window.location.href = "/list/" + position.coords.latitude + "/" + position.coords.longitude;
}});



</script>
</body>
</html>