<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Real Time Rescue</title>
</head>
<body class="bg-light">
<div class="container">
    <div class="row">
        <h4 th:text="${rescue.title}"></h4>
    </div>
    <div class="row">
        <p th:text="${rescue.description}"></p>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Send your location</button>
    </div>
    <hr>
    <div class="row">
        todo チャットが入ります
    </div>
    <hr>
    <div class="row">
        <form method="post" style="width:100%">
            <div class="input-group">
                <input type="text" name="message" class="form-control" placeholder="message">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-secondary">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
$(function(){
$("form").submit(function(event) {
event.preventDefault();
$.ajax({
  type: "POST",
  url: "/viewrescue/1/sendMessage",
  data: $("form").serialize()
  }).done(function(msg){
     alert( "Data Saved: " + msg );
  }).always(function(data) {
     $("*[name=message]").val("");
  });
});
});
</script>
</body>
</html>
