<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/css/chat.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Real Time Rescue</title>
    <style type="text/css">
        .mySelf {
            text-align: left;
        }

        .yourSelf {
            text-align: right;
        }

    </style>
</head>
<body class="bg-light">
<div class="container">
    <header class="bg-light" style="z-index:1;">
        <div class="row">
            <h4 th:text="${rescue.title}"></h4>
        </div>
        <div class="row">
            <p th:text="${rescue.description}"></p>
        </div>
        <div class="row" th:if="${userType}=='rescuee'">
            <button type="submit" class="btn btn-primary btn-lg btn-block" id="location">Send your location</button>
        </div>
        <div class="row" th:if="${userType}=='rescuer'">
            <button type="button" onclick="location.href='/list/0/0'" class="btn btn-secondary btn-lg btn-block">Give up</button>
        </div>
        <hr>
    </header>
    <div class="row" id="chat" style="z-index:0; overflow-y:auto; overflow-x:hidden;">
        <!-- チャットが入ります-->
    </div>
    <footer class="bg-light" style="margin-bottom:10px;">
        <hr>
        <div class="row">
            <form method="post" style="width:100%">
                <div class="input-group">
                    <input type="text" name="name" class="form-control" placeholder="名無しさん" value="名無しさん"
                           th:value="${userType}=='rescuer'?'心優しい名無しさん':'困ったさん'">
                    <input type="text" name="message" class="form-control" placeholder="message">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-secondary">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </footer>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
        var sH;
        sH = window.innerHeight - $("footer").outerHeight(true) - $("header").outerHeight(true) - 33;
        $("#chat").css('height', sH);

        const id = /*[[${rescue.id}]]*/ '1';
        const userType = /*[[${userType}]]*/ "rescuee";

        $("#location").click(function (event) {
            navigator.geolocation.getCurrentPosition(setValue);
        });

        function setValue(position) {
            $("*[name=message]").val("<a href='https://www.google.com/maps/search/?api=1&query=" + position.coords.latitude + "," + position.coords.longitude + "' target='_blank'>Come here</a>");
            $("form").submit();
        }

        $("form").submit(function (event) {
            event.preventDefault();

            $.ajax({
                type: "POST",
                url: "/viewrescue/" + id + "/sendMessage/" + userType,
                data: $("form").serialize()
            }).done(function (msg) {
                refresh();
            }).always(function (data) {
                $("*[name=message]").val("");
            });
        });

        function refresh() {
            $.ajax({
                type: "GET",
                url: "/viewrescue/" + id + "/refresh/" + userType,
                dataType: "html"
            }).done(function (html) {
                var flg=0;
                if(document.getElementById('chat').clientHeight + $("#chat").scrollTop() == $("#chat").get(0).scrollHeight)flg=1;
                $("#chat").html(html);
                if(flg==1){
                    $("#chat").scrollTop($("#chat").get(0).scrollHeight);
                }
            });
        }

        setInterval(refresh, 500);
    });
    /*]]>*/

</script>
</body>
</html>
