<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Real Time Rescue</title>
</head>
<body class="bg-light">
<div class="container">
    <div class="row">
        <h4 th:text="${rescue.title}"></h4>
    </div>
    <div class="row">
        <p th:text="${rescue.description}"></p>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-primary btn-lg btn-block" id="location">Send your location</button>
    </div>
    <hr>
    <div class="row" id="chat">
        <!-- チャットが入ります-->
    </div>
    <hr>
    <div class="row">
        <form method="post" style="width:100%">
            <div class="input-group">
                <input type="text" name="name" class="form-control" placeholder="名無しさん" value="名無しさん">
                <input type="text" name="message" class="form-control" placeholder="message">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-secondary">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
        var id = /*[[${rescue.id}]]*/ '1';

        $("#location").click(function (event) {
            navigator.geolocation.getCurrentPosition(setValue);
        });

        function setValue(position) {
            $("*[name=message]").val("<a href='https://www.google.com/maps/search/?api=1&query=" + position.coords.latitude + "," + position.coords.longitude + "' target='_blank'>Come here</a>");
            $("form").submit();
        }

        $("form").submit(function (event) {
            event.preventDefault();

            $.ajax({
                type: "POST",
                url: "/viewrescue/" + id + "/sendMessage",
                data: $("form").serialize()
            }).done(function (msg) {
                refresh();
            }).always(function (data) {
                $("*[name=message]").val("");
            });
        });

        function refresh() {
            $.ajax({
                type: "GET",
                url: "/viewrescue/" + id + "/refresh",
                dataType: "html"
            }).done(function (html) {
                $("#chat").html(html);
            });
        }

        setInterval(refresh, 500);
    });
    /*]]>*/
</script>
</body>
</html>
