<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>hoge</title>
</head>
<body>
<div class="container-fluid">
    <div th:each="chatMessage:${chatList}">
        <div class="row" th:if="${chatMessage.isRescuer()} != ${rescuerFlag}">
            <div class="mycomment">
                <div>
                    <span th:utext="${chatMessage.name} + '<br>' + ${chatMessage.message}">fuga</span>
                </div>
            </div>
        </div>

        <div class="row" th:if="${chatMessage.isRescuer()} == ${rescuerFlag}">
            <div class="balloon6">
                <div class="chatting">
                    <div class="says">
                        <span th:utext="${chatMessage.name} + '<br>' + ${chatMessage.message}">fuga</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>